{% extends 'layout.njk' %}

{% block content %}
    <form class="card" method="PUT" action="/instructors">
        <section class="avatar">
            <img src="/avatar.jpg" alt="">
        </section>

        <section class="details">
            <h3>Editar Instrutor</h3>

            {% include "instructors/fields.njk" %}

        </section>
    </form>
{% endblock content %}